<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ author.name }}</title>
  </head>
  <body>
    <a href="{% url 'home' %}">home</a>
    <h1>{{ author.name }}</h1>
    <p>{{ author.bio }}</p>
    <h2>Recipes made:</h2>
    <ul>
      {% for item in recipe %}
      <li>
        <a href="/recipe/{{ item.id }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
